{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-3 d-flex justify-content-center">
    <div class="card shadow-sm border-custom" style="width: 100%; max-width: 600px; display: center;">
        <div class="card-header text-center">
            <h3 class="mb-0 text-primary"><strong>{% trans "Sign In" %}</strong></h3>
        </div>
        <div class="card-body" style="font-size: larger;font-weight: bold;">
            <p class="text-center">Welcome back to HappyCamp. To book a club or manage your bookings, please log in. If you have not created an account yet, then <a class="link" href="{% url 'account_signup' %}">sign up</a> first.</p>
            <form class="login needs-validation" method="POST" action="{% url 'account_login' %}" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary me-2" type="submit">{% trans "Sign In" %}</button>
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}