{% extends 'base.html' %}
{% block content %}

<h2>My Bookings</h2>
<a href="{% url 'booking-create' %}">New Booking</a>
<ul>
    {% for booking in bookings %}
        <li>
            <strong>Child:</strong> {{ booking.child.first_name }} {{ booking.child.last_name }}<br>
            <strong>Club:</strong> {{ booking.club.name }}<br>
            <strong>Status:</strong> {{ booking.status }}<br>
            <strong>Date:</strong> {{ booking.booking_date }}<br>
            <strong>Time:</strong> {{ booking.time }}<br>
            {% if booking.status == 'pending' %}
                <a href="{% url 'booking-cancel' booking.id %}">Cancel</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h2>Available Clubs</h2>
<div class="row">
    {% for club in clubs %}
    <div class="col-md-4">
        <div class="card club-card shadow-sm">
            <a href="{% url 'club_detail' club.slug %}" class="stretched-link"></a>
            <!-- Club Image -->
            <div class="image-container">
                <img src="{{ club.featured_image.url }}" class="card-img-top club-image" alt="Club Image">
            </div>
            <div class="card-body">
                <h4 class="card-title club-name">{{ club.name }}</h4>
                <p class="club-details">
                    <i class="fas fa-map-marker-alt"></i> {{ club.location }}
                </p>
                <div class="progress">
                    {% with total=club.capacity available=club.available_spots %}
                    <div class="progress-bar" role="progressbar" style="width: {{ available|floatformat:2 }}%;" aria-valuenow="{{ available }}" aria-valuemin="0" aria-valuemax="{{ total }}">
                        {{ available }} places left
                    </div>
                    {% endwith %}
                </div>
                <a href="{% url 'booking-create' %}" class="btn btn-primary btn-sm mt-2">Book now</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}