{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5 d-flex justify-content-center mb-5">
    <div class="card shadow-sm .border-custom" style="width: 100%; max-width: 600px;">
        <div class="card-header text-center">
            <h3 class="mb-0"><strong>Book a Club</strong></h3>
        </div>
        <div class="card-body">
            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3 ">
                    <label for="{{ form.child.id_for_label }}"><strong>{{ form.child.label }}</strong></label>
                    <div>
                        {{ form.child }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="{{ form.club.id_for_label }}"><strong>{{ form.club.label }}</strong></label>
                    <div>
                        {{ form.club }}
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary me-2">Submit Booking</button>
                    <a href="{% url 'booking-list' %}" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}