{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">{{ club.name }}</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{{ club.featured_image.url }}" class="img-fluid" alt="Club Image">
        </div>
        <div class="col-md-6">
            <p>{{ club.description | safe}}</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <p><strong>Location:</strong> {{ club.location }}</p>
            <p><strong>Age Group:</strong> {{ club.age_group_min }} - {{ club.age_group_max }}</p>
            <p><strong>Start Date:</strong> {{ club.start_date }}</p>
            <p><strong>End Date:</strong> {{ club.end_date }}</p>
            <p><strong>Capacity:</strong> {{ club.capacity }} kids</p>
            <p><strong>Price:</strong> £{{ club.price }}</p>
            <p><strong>Contact Email:</strong> {{ club.contact_email }}</p>
            <p><strong>Contact Phone:</strong> {{ club.contact_phone }}</p>
            <p><strong>Website:</strong> <a href="{{ club.website }}" target="_blank">{{ club.website }}</a></p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a href="{% url 'home' %}" class="btn btn-primary btn-lg me-2 mb-3">Back to Clubs</a>
            <a href="{% url 'booking-list' %}" class="btn btn-success btn-lg mb-3">Enroll Now</a>
        </div>
    </div>
</div>
{% endblock %}