{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Club Listing Section -->
<div class="container mt-4">
    <h1 class="text-center title-text">Explore Our After-School Clubs</h1>
    <p class="text-center text-muted">Find fun and exciting activities for your children!</p>
    
    <div class="row justify-content-center">
        {% for club in club_list %}
        <div class="col-md-4 mb-4">
            <div class="card club-card shadow-sm">
                <a href="{% url 'club_detail' club.slug %}" class="stretched-link"></a>
                <!-- Club Image -->
                <div class="image-container">
                    <img src="{{ club.featured_image.url }}" 
                         class="card-img-top club-image" alt="Club Image">
                </div>
                <div class="card-body">
                    <h4 class="card-title club-name">{{ club.name }}</h4>

                    <!-- Club Details in One Line -->
                    <p class="club-details">
                        <i class="fas fa-map-marker-alt"></i> {{ club.location }} |
                        <i class="fas fa-users"></i> {{ club.capacity }} kids |
                        <i class="fas fa-calendar-alt"></i> {{ club.start_date }} - {{ club.end_date }}
                        <i class="fas fa-clock"></i> {{ club.start_time }} - {{ club.end_time }}
                        <i class="fas fa-phone"></i> {{ club.contact }}
                    </p>

                    <!-- Progress Bar -->
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ club.available_percentage }}%;" aria-valuenow="{{ club.available_spots }}" aria-valuemin="0" aria-valuemax="{{ club.capacity }}">
                            {{ club.available_spots }} places left
                        </div>
                    </div>


                    <a href="{% url 'club_detail' club.slug %}" class="btn btn-primary btn-sm mt-2">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Previous</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}